<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
	  <add  key="CD" value="Data Source=DESKTOP-PVQ6QV7\SQLSERVER2017;Initial Catalog=db_Distribution;Persist Security Info=True;User ID=sa;Password=sainfinity;Max Pool Size=75;Min Pool Size=5;Connect Timeout=300" />
    <add  key="CD1" value="Data Source=technova-pc;Initial Catalog=tjl_dnf;Persist Security Info=True;User ID=sa;Password=sainfinity;Max Pool Size=75;Min Pool Size=5;Connect Timeout=300" />
    <add  key="APPSTL" value="kasun11.isl" />
    <add key="Companies" value="CD:RBK (Middle East) LLC;RS:RSH (International) LLC;PR:PROGOLF (International) LLC;" />
    <add key="CurrentOutletCode" value="WHS" />
    <add key="IsSQLDatabase" value="1" />
    <add key="DSNName" value="DSNName" />
    <add key="DSNUserID" value="DSNUserID" />
    <add key="DSNPassword" value="DSNPassword" />
    <add key="PackageType" value="1" />
    <add key="TimeFormatString" value="HH:MM:SS" />
    <add key="DatabasePath" value="DatabasePath" />
    <add key="LOCCODE" value="DS" />
    <add key="MtnPath" value="E:\Source Code Dot Net\tjlPlanning New\Pln Report" />
    <add  key="RMTPATH" value="C:\Distributorsales" />
    <add  key="ImgPATH" value="E:\Icon\DNF\20140503\Arrow\maubima_files" />
    <add  key="ReportPath" value="E:\SOURCE CODE\Connect Electrical\Report" />
    <add key="FilePath" value="C:\Technova" />
    <add key="UploadPath" value="C:\Technova" />
    <add key="DloadPath" value="E:\Source Code Dot Net\TJ_DNF\Segrigrade as Departments" />
    <add  key="SerialPort" value="COM3" />
    <add  key="ReportPath" value="E:\SOURCE CODE\Connect Electrical\Report" />
    <add  key="Backup" value="D:\Backup" />
    <add  key="CompanyName" value="COLOMBO Textile" />
    <add  key="MtnUpload" value="C:\SQL" />
    <add  key="TP" value="036-4908262" />
    <add  key="SystemUtilityFile_Path" value="C:\SystemUtility\dbdl.mdb" />
    <add  key="ServerFilesPath" value="\\172.16.50.253\WinnerUploadFile" />
  </appSettings>

</configuration>
